body{
	/*background: rgb(249, 249, 249);*/
}
h1{
	color: rgb(0, 102, 204);
}
h2, h3, h4{
	color: rgb(0, 76, 153);
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
#sidebar{
    padding-left: 5%;
}

